# Application settings
APP_NAME="Currency Converter API"
API_V1_STR="/api/v1"
DEBUG=True
ENVIRONMENT="development"

# Logging
LOG_LEVEL="INFO"

# Fixed exchange rates (EUR is base currency)
FIXED_RATES_EUR="1.0"
FIXED_RATES_USD="1.07"
FIXED_RATES_MAD="10.5"